##引入宏定义
$!{define.vm}

##使用宏定义设置回调（保存位置与文件后缀）
#save("/domain", ".java")

##使用宏定义设置包后缀
#setPackageSuffix("domain")

##使用全局变量实现默认包导入
$!{autoImport.vm}
import com.baomidou.mybatisplus.annotation.*;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;

##使用宏定义实现类注释信息
#tableComment("实体类")
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("$!{tableInfo.obj.name}")
@ApiModel(value = "#if($!{tableInfo.comment})$!{tableInfo.comment}#else$!{tableInfo.name}#end")
public class $!{tableInfo.name} extends Model<$!{tableInfo.name}> {

private static final long serialVersionUID = $!tool.serial();

#foreach($column in $tableInfo.fullColumn)

    #if(${column.name} == "id")
    @TableId(type = IdType.AUTO)
    @ApiModelProperty(value = "#if($!{column.comment})$!{column.comment}#else主键#end")
    #elseif(${column.name} == "deleted")
    @TableLogic
    @ApiModelProperty(value = "#if($!{column.comment})$!{column.comment}#else逻辑删除标记#end")
    #elseif(${column.name} == "createBy")
    @TableField(fill = FieldFill.INSERT)
    @ApiModelProperty(value = "创建者")
    #elseif(${column.name} == "createTime")
    @TableField(fill = FieldFill.INSERT)
    @ApiModelProperty(value = "创建时间")
    #elseif(${column.name} == "updateBy")
    @TableField(fill = FieldFill.INSERT_UPDATE)
    @ApiModelProperty(value = "更新者")
    #elseif(${column.name} == "updateTime")
    @TableField(fill = FieldFill.INSERT_UPDATE)
    @ApiModelProperty(value = "更新时间")
    #else
    @ApiModelProperty(value = "#if($!{column.comment})$!{column.comment}#else#end")
    #end
private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end

}